\sy\stem/\sy\stem/priv-app/MiuiCamera/MiuiCamera.apk
\sy\stem/\sy\stem/priv-app/MIUIGalleryGlobal/MIUIGalleryGlobal.apk
\sy\stem/\sy\stem/app/MIUIVideoPlayer/MIUIVideoPlayer.apk
modem.img
vendor/lib64/libMegviiFacepp-0.5.2.\so
vendor/etc/camera/megviifacepp_0_5_2_model
product/priv-app/Gm\sCore/Gm\sCore.apk
product/priv-app/Velvet/Velvet.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/app/Me\s\sage\s/Me\s\sage\s.apk
boot.img
\sy\stem_ext/priv-app/Setting\s/Setting\s.apk
\sy\stem_ext/apex/com.android.vndk.v30.apex
bootimg/13_dtbdump_\)Tn,\&_fJ\[9-7l\s.dtb
